
*.xml
*.class
*.iml
*.cache
Week 1/assignments/first_assignment/recfun/target/.history
Week 1/assignments/first_assignment/recfun/target/streams/$global/submit/$global/streams/out
Week 1/assignments/first_assignment/recfun/target/streams/test/definedTests/$global/streams/out
Week 1/assignment/recfun/.idea/.name
Week 1/assignment/recfun/.idea/.name
